.my-div {
    margin: 20px;
  }

  .embed-responsive-16by9 .img-fluid .rounded .card-img-top {
    object-fit: cover;
}

.zoom:hover {
  transform: scale(1.5);
}
.likesCount{
  font-size: 25px;
  position: relative;
  float: left;
  margin-left: 5px;
}