

  .back {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .blue-validation .valid-feedback,
.blue-validation .invalid-feedback {
  color: blue !important; // Force the color to remain blue
}
  .container > :first-child {
    margin-right: auto;
  }
  .container > :last-child {
    margin-left: auto;
  }

  h1, h2 {
    text-align: left;
    margin-left: 20px;
    display: block;
  }
  
  .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .field {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .textInputWrapper .form-control {
    width: 200px;
  }

  .textBox .form-control{
    margin-left: 50px;
    margin-bottom: 20px;
    width: 200px;
  }

  .form {
    margin-top: 40px;    /* top margin */
    margin-right: 150px;  /* right margin */
    margin-bottom: 30px; /* bottom margin */
    margin-left: 150px;   /* left margin */

  }

  .radio {
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 20px;
    text-align: left;
    display: block;
    flex-direction: none;
    flex-wrap: none;
    width: 200px;
  }