

  .back {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .container > :first-child {
    margin-right: auto;
  }
  .container > :last-child {
    margin-left: auto;
  }

  h1, h2 {
    text-align: left;
    margin-left: 20px;
    display: block;
  }
  
  .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .field {
    margin-left: 50px;
    margin-bottom: 20px;
    width: '200px';
  }

  .tbox {
    margin-left: 50px;
    margin-bottom: 20px;
    width: '400px';
  }

  .form {
    margin-top: 40px;    /* top margin */
    margin-right: 50px;  /* right margin */
    margin-bottom: 30px; /* bottom margin */
    margin-left: 50px;   /* left margin */
  }

  .radio {
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
    text-align: left;
    display: block;
    flex-direction: none;
    flex-wrap: none;
    width: 200px;
  }